<% provide(:title, "Activate") %>
<div class='top_container'>
  <h1>Welcome, <%= @user.name %>!</h1>
  <h4>You are almost there. Just choose the password to access your account.</h4>
  <div class="row margin_top_20">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user, method: :post, url: set_password_attempt_path(permalink: @user.permalink, activation_code: @code)) do |f| %>
        <%= render 'application/error_messages' %>

        <%= f.password_field :password, class: 'form-field text_center', placeholder: 'Password' %>
        <%= f.password_field :password_confirmation, class: 'form-field text_center', placeholder: 'Password Confirmation' %>

        <%= f.submit "Set Password", class: "btn_large btn_100p margin_top_10" %>
      <% end %>
    </div>
  </div>
</div>